.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
  margin: 0 auto;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}

/* 아래랑 차이가 있음...아래는 양옆에 여백이 많고 
위에는 양옆이 멀리 떨어져있음 */
/* .alt-header__column {
  margin: 0 auto;
} */