* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('img/0.jpg'), url('img/1.jpg'), url('img/2.jpg');
}


.hidden {
    display: none;
}

img {
    display: block;
}

body {
    display: inline-block;
}